@model Modelo.Cadastros.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um NOVO PRODUTO";
}

@using (Html.BeginForm("Create", "Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            Registrando um novo Produto
        </div>
        <div class="card-body">
           @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer">
            <div class="col-md-12">
                <input type="submit" value="Adiconar" class="btn btn-success"/>
                @Html.ActionLink("Retornar","Index",null , new { @class = "btn btn-secondary"})
            </div>
        </div>
    </div>
}
@section Styles {
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    <link href="~/Content/themes/base/core.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
}

@section ScriptPage{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker();
        });
    </script>
 }
